
.inputbox {
    border-radius: 25px;
    background: black;
    right: -22.5%;
    position: relative;
    padding: 20px;
    width: 600px;
    color: white;
}

.inputboxsm {
    margin-top: 1vh;
    border-radius: 25px;
    background: black;
    right: 10;
    position: absolute;
    padding: 5px;
    width: 100px;
    height: auto;
    color: white;
}

.inputboxabsolute {
    border-radius: 25px;
    background: black;
    position: absolute;
    right: 33%;
    padding: 5px;
    width: 400px;
    color: white;
}
.bigtext {
    font-size: 100px;
}

.smallimg {
    width: 10%;
    height: auto;
    animation-name: zoomout; 
    animation-duration: 1s;
}

.centered-elem {
    margin-top: 35vh;
}


.centered {
    text-align: center
}


.navcontainer {
    z-index: 5;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: oldlace;
	position: sticky;
    top: 0;
}

.navbarlinks {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbarlinks li {
    margin: 0 10rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}
.logotext {
    font-size:40px;
    font-family: 'Raleway', sans-serif;
    color:green
}
.navbarlinks li:hover {
    color: var(--color-grey);
    text-decoration: underline;
}

.navbarlogo {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    width:150px
}

.footerp {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    position:fixed;
    bottom:0;
    
}

.left1 {
    float: left;
    position: absolute;
    margin-top: 5vh;
    margin-left: 65vh;
    font-family: 'Raleway', sans-serif;

}

.right1 {
    float: right;
    position: absolute;
    margin-left: 125vh;
    margin-top: 5vh;
    font-family: 'Raleway', sans-serif;
}


#bigimage1 {
    height: 100vh;
    width: 99vw;
    background-color: black;
    background-image: url('../images/pizza1.jpg');
    background-repeat: no-repeat;
    filter: saturate(50%);
}
#bigimage2 {
    height: 100vh;
    width: 99vw;
    background-color: black;
    background-image: url('../images/pizza3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(50%);
    
}

.bigwhitespace {
    height: 50vh;
    width: 99vw;
    background-color: white;
}

.bigoffwhitespace {
    height: 50vh;
    width: 99vw;
    background-color: oldlace;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#bigimage3 {
    height: 100vh;
    width: 99vw;
    background-color: black;
    background-image: url('../images/pizzarestaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(100%);
    
}
.breakimg {
    text-align: center;
    z-index: 3;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.twittericon{
    background: url('../images/twitterico.png');
    height: 20px;
    width: 20px;
}
.instaicon{
    background: url('../images/instaico.png');
    height: 20px;
    width: 20px;
 
}

  .underlineanim:hover {
    text-decoration: underline;
  }

.fillpage {
    filter: brightness(40%);
    background-size:cover;
    height: 100vh;
    width: 99vw;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .backgroundimages {
    width:  100%;
    height: 1000px;
}

.smalltxt {
    font-size: medium;
}

.hoverable1:hover{
    position: absolute;
    animation-name: zoom; 
    animation-duration: 1s;
    z-index: 2;
    width: 15%;
}

.hoverable1:hover .menus

.hoverable2:hover{
    position: absolute;
    animation-name: zoom; 
    animation-duration: 1s;
    z-index: 2;
}

.hoverable3:hover{
    position: absolute;
    animation-name: zoom; 
    animation-duration: 1s;
    z-index: 2;
}

@keyframes zoom {
    from {width: 10%}
    to {width: 15%}
}
@keyframes zoomout {
    from{width: 15%}
    to{width:10%}
}

.modal-content {
    background-color: white;
    margin: 300px auto;
    height: 40%;
    width: 40%;
    text-align: center;
    z-index: 10;
}

.menuopts {
    display:flex;
}